html,
body {
  font-family: "VT323";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  color: white;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
