html,
body {
  font-family: "VT323";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  color: white;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #08012f;
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: white;
}

#header {
  height: 100vh;
  background-image: url(/images/section1-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar {
  background-color: #08012f;
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1300px;
  margin: auto;
}

.navbar__list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 45%;
}

#breeding {
  background-image: url(/images/section2-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.breeding__image {
  width: 1200px;
  display: block;
  margin: auto;
}

.breeding__container {
  display: flex;
  justify-content: center;
  max-width: 1300px;
  margin: auto;
  padding-top: 5em;
  padding-bottom: 5em;
}

.breeding__container--half {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 5%;
}

.breeding__container--image {
  width: 70%;
  margin: auto;
}

.breeding__title {
  font-size: 1.2rem;
  -webkit-text-stroke: #25e85d 1px;
  text-shadow: 0px 5px 10px #25e85d;
}

.breeding__desc {
  font-family: "JetBrains Mono", monospace;
  font-size: 0.7rem;
  font-weight: 300;
  text-align: left;
  line-height: 2em;
  max-width: 500px;
  position: relative;
  z-index: 1;
}

#breeding__two {
  background-image: url(/images/section3-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -10px;
  position: relative;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.breeding__two--image {
  width: 32%;
  padding: 6%;
  margin-top: 0;
  margin-right: -80px;
  margin-bottom: 80px;
}

#roadmap {
  height: 130vh;
  background-image: linear-gradient(#320752, #320752, #0b0b0b);
  position: relative;
  justify-content: center;
}

.roadmap__neon {
  display: block;
  width: 300px;
  margin: 0 auto;
}

.roadmap__maze--wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px auto;
}

.roadmap__desc {
  margin: auto 10px;
}

.roadmap__desc--text {
  max-width: 200px;
  text-align: center;
  margin-bottom: 3em;
  font-family: "JetBrains Mono", monospace;
  font-size: 0.55rem;
  font-weight: 300;
  position: relative;
  z-index: 2;
}

.roadmap__maze--image {
  max-width: 30%;
  position: relative;
  z-index: 3;
}

.roadmap__mazes--bg {
  position: absolute;
  width: 300px;
  right: 5em;
  top: 3em;
}
.roadmap__strike--image {
  position: absolute;
  left: 0;
  margin-top: 10px;
  max-width: 75%;
  z-index: 0;
}

#token {
  background-image: url(/images/section4-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.token__wrapper {
  display: flex;
  padding-top: 5%;
  justify-content: center;
}

.token__image {
  width: 460px;
}

.token__desc--wrapper {
  margin: auto 0;
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

.token__desc {
  font-family: "JetBrains Mono", monospace;
  display: flex;
  flex-direction: column;
}

.token__title {
  font-size: 1.2rem;
  -webkit-text-stroke: #25e85d 1px;
  text-shadow: 0px 5px 10px #25e85d;
  margin-bottom: 0;
}

.token__subtitle {
  max-width: 350px;
  font-size: 0.5rem;
}

.token__title--image {
  margin-top: 10px;
  max-width: 200px;
}

.token__button {
  margin: auto;
  margin-top: 10px;
  display: block;
  width: 250px;
  padding-bottom: 5%;
}

#merch {
  background-image: url(/images/section5-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.merch__wrapper {
  max-width: 1300px;
  margin: auto;
  display: flex;
  align-items: center;
}

.merch__content {
  margin-top: -15%;
}

.merch__title {
  font-size: 2rem;
  -webkit-text-stroke: #d41472 1px;
  text-shadow: 0px 5px 10px #d41472;
  margin-bottom: 0;
}

.merch__desc {
  font-family: "JetBrains Mono", monospace;
  max-width: 400px;
  font-size: 0.5rem;
  margin-top: 2em;
  margin-right: -50%;
}

.merch__image {
  display: block;
  padding: 5%;
  margin: auto;
  width: 900px;
}

#ticket {
  background-image: url(/images/ticket-future-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow-y: hidden;
}

.ticket__image {
  margin-left: 35%;
  margin-bottom: -9%;
  max-width: 1300px;
  min-width: 500px;
  padding-top: 20%;
}

.ticket__baner {
  background-color: #0b0b0b;
  box-shadow: inset 0px 0px 20px 5px #de01b5;
  border: 5px solid #fe42e4;
}

.ticket__banner--text {
  font-size: 1.3rem;
  color: #de01b5;
  text-align: center;
}

#boombox {
  height: 100vh;
  background-image: url(/images/BOOMBOX-BG.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 0;
}

.boombox__image {
  width: 5.2em;
  margin-top: 10px;
  position: absolute;
}

.image__left {
  left: 0;
}

.image__right {
  right: 0;
}

.boombox__bottom {
  position: absolute;
  bottom: 0;
  max-width: 100vw;
}

#illustration__gorillasstyle {
  height: 100vh;
  position: relative;
  z-index: 1;
  background-color: #2c0643;
}

.placeholder {
  width: 80%;
  background-color: #6b10a8;
  margin: 0 auto;
  height: 100%;
  display: flex;
  align-items: center;
}

.placeholder__title {
  width: 100%;
  padding: 20px;
  text-align: center;
  background-color: #9036ca;
}

#partners {
  position: relative;
  z-index: 0;
  min-height: 100vh;
  background-image: url(/images/partners-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.partners__orbit-image {
  position: absolute;
  top: 10%;
  z-index: 1;
  width: 100vw;
}

.partners__image {
  position: relative;
  z-index: 2;
  width: 70%;
  margin-top: 0;
}

#anim-placeholder {
  height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
}

.anim-placeholder__image {
  width: 80%;
  margin: 0 auto;
}

#FAQ {
  height: 100vh;
  background-image: url(/images/FAQ-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

#contact {
  height: 200vh;
  background-image: url(/images/contact-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1300px;
  margin: auto;
  background-image: url(/images/Stopka.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 130%;
}

.footer__sm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
}

.footer__image {
  padding: 10px;
}

.footer__icons {
  margin: auto;
}

.icon {
  margin: 10px;
}

.copyright {
  text-align: center;
  font-size: 1.5rem;
  margin: 10px;
}

.footer__newsletter {
}

#input__text {
}

.footer__newsletter--text {
  font-size: 1.5rem;
  margin: 10px 0;
}
