html,
body {
  font-family: "VT323";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  color: white;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #08012f;
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: white;
}

.header {
  height: 100vh;
  background-image: url(/images/main-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar {
  background-color: #08012f;
  display: flex;
  justify-content: space-between;
}

.navbar__logo {
  margin: auto auto auto 20px;
  width: auto;
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
  margin: auto;
}

.navbar__container a {
  max-width: 150px;
  display: flex;
  justify-content: center;
}

.navbar__list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: auto;
}

.navbar__list--element {
  margin: auto 1em;
  width: auto;
}

.navbar__button {
  margin-bottom: -3em;
}

.mainpage__container {
  position: absolute;
}

.mainpage__image {
  width: 65%;
  display: block;
  margin: auto;
}

#breeding {
  background-image: url(/images/section2-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  flex-wrap: wrap;
  position: relative;
  padding-top: 1em;
}

.breeding__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1300px;
  margin: auto;
  padding-top: 1em;
  padding-bottom: 3em;
}

.breeding__container--half {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 5%;
}

.breeding__container--image {
  width: 50%;
  margin: auto;
}

.breeding__title {
  font-size: 1.2rem;
  -webkit-text-stroke: #25e85d 1px;
  text-shadow: 0px 5px 10px #25e85d;
}

.breeding__desc {
  font-family: "JetBrains Mono", monospace;
  font-size: 0.7rem;
  font-weight: 300;
  text-align: left;
  line-height: 2em;
  max-width: 500px;
  position: relative;
  z-index: 1;
}

#breeding__two {
  background-image: url(/images/section3-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -10px;
  position: relative;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.breeding__two--image {
  width: 32%;
  padding: 6%;
  margin-top: 0;
  margin-right: -30px;
  margin-bottom: 80px;
}

#roadmap {
  background-image: linear-gradient(#320752, #320752, #0b0b0b);
  position: relative;
  justify-content: center;
  padding-bottom: 7em;
}

.roadmap__neon {
  display: block;
  width: 300px;
  margin: 0 auto;
}

.roadmap__maze--wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px auto;
}

.roadmap__desc {
  margin: auto 10px;
}

.roadmap__desc--text {
  max-width: 200px;
  text-align: center;
  margin-bottom: 3em;
  font-family: "JetBrains Mono", monospace;
  font-size: 0.55rem;
  font-weight: 300;
  position: relative;
  z-index: 2;
}

.roadmap__maze--image {
  max-width: 30%;
  position: relative;
  z-index: 3;
}

.roadmap__mazes--bg {
  position: absolute;
  width: 300px;
  right: 5em;
  top: 3em;
}
.roadmap__strike--image {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 65%;
  min-width: 40%;
  z-index: 0;
}

#token {
  background-image: url(/images/section4-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 3em;
}

.token__wrapper {
  display: flex;
  flex-wrap: wrap;
  padding-top: 5%;
  justify-content: center;
}

.token__image {
  width: 460px;
}

.token__desc--wrapper {
  margin: auto 0;
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

.token__desc {
  font-family: "JetBrains Mono", monospace;
  display: flex;
  flex-direction: column;
}

.token__title {
  font-size: 1.2rem;
  -webkit-text-stroke: #25e85d 1px;
  text-shadow: 0px 5px 10px #25e85d;
  margin-bottom: 0;
}

.token__subtitle {
  max-width: 350px;
  font-size: 0.5rem;
}

.token__title--image {
  margin-top: 10px;
  max-width: 200px;
}

.token__button {
  margin: auto;
  margin-top: 10px;
  display: block;
  width: 250px;
  padding-bottom: 5%;
}

#merch {
  background-image: linear-gradient(to bottom, #220226, #9e00b4, #220226);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding-top: 1em;
  padding-bottom: 5em;
}

.merch__wrapper {
  max-width: 1300px;
  margin: auto;
  display: flex;

  align-items: center;
}

.merch__content {
  margin-left: 1em;
}

.merch__title {
  font-size: 2rem;
  -webkit-text-stroke: #d41472 1px;
  text-shadow: 0px 5px 10px #d41472;
  margin-bottom: 0;
}

.merch__desc {
  font-family: "JetBrains Mono", monospace;
  max-width: 400px;
  font-size: 0.5rem;
  margin-top: 2em;
}

.merch__image {
  display: block;
  padding: 5%;
  margin: auto;
  width: 60%;
}

.boombox__baner {
  background-color: #0b0b0b;
  box-shadow: inset 0px 0px 20px 5px #de01b5;
  border: 5px solid #fe42e4;
}

.boombox__banner--text {
  font-size: 1.3rem;
  color: #de01b5;
  text-align: center;
}

#boombox {
  background-image: url(/images/boombox-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 0;
}

.boombox__wrapper {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.boombox__image {
  width: 5.2em;
  margin-top: 10px;
  position: absolute;
}

.boombox__radio--image {
  max-width: 700px;
  margin: 20px auto;
  padding-top: 6%;
}

.boombox__player--image {
  max-width: 500px;
  margin: auto;
  padding-bottom: 6%;
}

.image__left {
  left: 0;
}

.image__right {
  right: 0;
}

.boombox__bottom {
  width: 100%;
}

#illustration__gorillasstyle {
  height: 100vh;
  position: relative;
  z-index: 1;
  background-color: #2c0643;
}

.placeholder {
  width: 80%;
  background-color: #6b10a8;
  margin: 0 auto;
  height: 100%;
  display: flex;
  align-items: center;
}

.placeholder__title {
  width: 100%;
  padding: 20px;
  text-align: center;
  background-color: #9036ca;
}

#partners {
  position: relative;
  z-index: 0;
  background-image: url(/images/partners-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.partners__orbit-image {
  top: 10%;
  z-index: 1;
  max-width: 100%;
  margin-top: 2em;
}

.partners__image {
  width: 500px;
  margin-top: -1em;
  padding-bottom: 2em;
  margin-left: 1em;
  margin-right: 1em;
}

#anim-placeholder {
  background-color: black;
  display: flex;
  justify-content: center;
}

.anim-placeholder__image {
  width: 80%;
  margin: 0 auto;
}

#faq {
  background-image: url(/images/FAQ-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 5em;
}

.faq__wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  max-width: 1200px;
  margin: auto;
  padding-bottom: 10%;
}

.faq__wrapper--blocks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto 1em;
  font-family: "JetBrains Mono", monospace;
}

.faq__title {
  font-size: 2rem;
  -webkit-text-stroke: #d41472 1px;
  text-shadow: 0px 5px 10px #d41472;
  margin-bottom: 0;
  text-align: center;
}

.faq__pacman--image {
  width: 200px;
  margin: 1em;
}

.faq__block {
  width: 500px;
  border-top: solid 6px rgba(255, 255, 255, 0.7);
  border-left: solid 6px rgba(255, 255, 255, 0.7);
  border-bottom: solid 3px #ffff;
  margin: 0.5em auto 0 auto;
  position: relative;
  z-index: 1;
}

.faq__block--border {
  border-right: solid 6px #280151;
  border-bottom: solid 6px #280151;
  background-color: #380074;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.faq__block--text {
  font-size: 0.6rem;
  font-weight: 500;
  margin-top: 7px;
  margin-bottom: 6px;
  margin-left: 20px;
}

.faq__arrow {
  margin-right: 20px;
  cursor: pointer;
}

.faq__response--container {
  position: relative;
  width: 505px;
  margin-top: 0;
  z-index: 0;
}

.faq__response--image {
  width: 100%;
  margin: 0;
}

#contact {
  background-image: url(/images/contact-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 150vh;
  display: flex;
  flex-direction: column;
  padding-top: 10%;
  position: relative;
}

.form__container {
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.contact__form {
  width: 100%;
  margin: 15% auto;
}

.contact__btt--btn {
  padding-top: 10%;
  width: 200px;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

#footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1300px;
  margin: auto;
  background-image: url(/images/Stopka.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 130%;
}

.footer__sm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.footer__image {
  padding: 10px;
}

.footer__icons {
  margin: auto;
  display: flex;
  justify-content: center;
}

.icon {
  margin: 10px;
}

.copyright {
  text-align: center;
  font-size: 1.2rem;
  margin: 10px;
}

.copyright__mobile {
  display: none;
}

.footer__newsletter--text {
  font-size: 1rem;
  margin: 10px 0;
  color: #fd4c76;
}

#input__text {
  padding: 5px;
  width: 200px;
}

.hidden {
  display: none;
}

.selectblock {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

@media only screen and (max-width: 1070px) {
  .navbar__button {
    margin-right: -2em;
    margin-left: auto;
    margin-bottom: -3.5em;
  }

  .navbar__list {
    content: url(/images/Menu-Mobile.svg);
    width: 40px;
    order: 1;
    margin: auto 1em;
  }

  .mobile__nav {
    position: absolute;
    right: 0;
    top: 0;
    width: 300px;
    background-color: #08012f;
    border-left: solid 3px white;
    border-bottom: solid 3px white;
    box-shadow: 0px 0px 20px 5px #de01b5;
  }

  .navbar__list--mb {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-top: 10px;
  }

  .navbar__list--mbutton {
    display: block;
    margin: 5px auto;
    text-align: center;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard */
  }

  .mobile__nav--button {
    width: 20px;
    display: block;
    margin-left: auto;
    margin-right: 1em;
    margin-top: 20px;
    margin-bottom: 5px;
  }

  .navbar__button--mb {
    margin: auto;
    margin-bottom: auto;
  }

  .merch__wrapper {
    flex-wrap: wrap;
    justify-content: center;
  }

  .merch__image {
    width: 90%;
  }

  .boombox__radio--image {
    width: 60%;
  }

  .boombox__player--image {
    width: 50%;
  }

  .form__container {
    width: 60%;
  }

  .boombox__image {
    width: 15%;
  }
  .faq__wrapper--blocks {
    flex-direction: column;
    justify-content: center;
    margin: auto;
  }

  .faq__title {
    margin-bottom: 1em;
  }

  .faq__block {
    margin: 0.5em auto;
  }
}

@media only screen and (max-width: 700px) {
  .navbar__logo {
    width: 100px;
  }

  .navbar__list {
    width: 30px;
  }

  .navbar__button {
    width: 35%;
    margin-top: -1em;
    margin-right: -1em;
  }

  .mobile__view {
    position: absolute;
    bottom: 1em;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    margin: 10px auto;
    width: 100px;
    background-color: #2c06437f;
    padding: 5px;
    border-radius: 20px;
  }

  .mobile__view--switcher1 {
    height: 17px;
    width: 17px;
    margin: auto;
    border-radius: 20px;
    border: solid 2px white;
  }
  .mobile__view--switcher2 {
    height: 17px;
    width: 17px;
    margin: auto;
    border-radius: 20px;
    border: solid 2px white;
  }
  .mobile__view--switcher3 {
    height: 17px;
    width: 17px;
    margin: auto;
    border-radius: 20px;
    border: solid 2px white;
  }

  .mobile__nav {
    width: 240px;
  }

  .left {
    background-position: left;
  }

  .center {
    background-position: center;
  }

  .right {
    background-position: right;
  }

  .active {
    background-color: white;
  }

  .mainpage__container {
    margin-top: -5em;
  }

  .mainpage__image {
    content: url(/images/alert-window-mb.png);
    width: 95%;
  }

  .boombox__image {
    display: none;
  }

  .boombox__radio--image {
    width: 90%;
  }

  .boombox__player--image {
    width: 80%;
  }

  #illustration__gorillasstyle {
    height: auto;
  }

  .placeholder {
    content: url(/images/picture-placeholder.png);
  }

  #token {
    padding-top: 0;
  }

  .token__desc {
    margin: 10px;
  }

  .token__image {
    display: block;
    width: 70%;
    margin: auto;
  }

  .roadmap__strike--image {
    width: 90%;
  }

  .partners__image {
    width: 70%;
  }

  .roadmap__maze--wrapper {
    width: 100vw;
  }

  .roadmap__maze--image {
    max-width: 80%;
  }

  .roadmap__desc {
    display: none;
  }

  .faq__pacman--image {
    display: none;
  }

  .merch__content {
    order: 1;
    margin: 10px;
  }

  .breeding__container--image {
    width: 80%;
  }

  .breeding__two--image {
    width: 70%;
  }

  #faq {
    padding-top: 0em;
  }

  .faq__wrapper--blocks {
    width: 100%;
  }

  .faq__block {
    width: 95%;
    margin: auto;
    margin-bottom: 10px;
  }

  .faq__block--text {
    font-size: 15px;
    margin-left: 1%;
  }

  .faq__arrow {
    margin-right: 1%;
  }

  .form__container {
    width: 80%;
  }

  #contact {
    background-size: 150% 100%;
    height: auto;
  }

  #footer {
    flex-direction: column;
    background-image: none;
  }

  .copyright {
    display: none;
  }

  .footer__newsletter--text {
    font-size: 0.8rem;
    color: #fd4c76;
  }

  .copyright__mobile {
    display: block;
  }
}

@media only screen and (max-width: 350px) {
  .mobile__view {
    width: 120px;
  }
}
